html{
    height: 100%;
}
body{
    height: 90%;
}
.main{
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45%;
    margin: auto;
    background-color: rgb(244, 244, 247);
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: 8px 10px 40px rgb(146, 146, 147);
}
.main span{
    position: absolute;
    text-align: center;
    padding: 10%;
    font-size: 56px;
    color: rgb(94, 87, 87);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 870px) {
    .main span{
        font-size: 25px;
    }
    .main{
        height: 20%;
    }
  }